{% extends "base.html" %}
{% block page_content %}
{% load static %}

<div class="row">
  <div class="col-md-12">
      <div class="postTitle">About</div>
  </div>
</div>
<div class="row">
  <div class="col-md-8">
    <p>
    My name is Anthea Middleton, which is a bit of a weird name, and people often don't believe me. When I was in 6th year in school someone told me it was like a hobbit name though, and that made me happy.</p>

    <p>I currently work as a software developer in Scotland, in a spooky re-purposed art deco high school.</p>

    <p>I make electronic things for fun, and if I ever finish any of them and stop adding new features I'll write about it here. I also enjoy aerial acrobatic dance and read lots of sci-fi and detective novels. I'm trying to write my own novel at the moment. It's like this blog but fictional and set partly in space.</p>

    <p class="pWithLinks">You can read a horror short story I wrote called <a class="link" href="http://www.horla.org/invite-only-by-anthea-middleton/" target="_blank">Invite Only here.</a> I also won the Henshaw Press Short Story competition for <a class="link" href="https://www.henshawpress.co.uk/september-2020/" target="_blank">Braecastle, which you can find here</a></p>

    <p>That's me there. Proudly holding a ceramic bowl I painted. So far it has not won any competitions.</p>
  </div>
  <div class="col-md-4 profilePic">
    <img src="{% static '/img/Anthea.jpg' %}" />
  </div>
</div>


{% endblock %}
