{% extends "base.html" %}
{% block page_content %}
{% load static %}
<div class="row">
  <div class="col-md-12">
    <div class="twitter">

      <a href="https://twitter.com/antheamiddleton" target="_blank">
        <i class="fab fa-twitter twitter-menu"></i>
      </a>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <div class="postTitle">About</div>
  </div>
</div>
<div class="row">
  <div class="col-md-8">
    <p>
      My name is Anthea Middleton, which is a bit of a weird name, and people often don't believe me. When I was in 6th
      year in school someone told me it was like a hobbit name though, and that made me happy.</p>

    <p class="pWithLinks">I work as a <a class="link" href="https://www.linkedin.com/in/anthea-middleton-338a8760/"
        target="_blank">software developer
        in a small startup</a> in Edinburgh. </p>

    <p>I make electronic things for fun, and if I ever finish any of them and stop adding new features I'll write about
      it here. I also enjoy aerial acrobatic dance and read lots of sci-fi and detective novels. I'm trying to write my
      own novel at the moment. It's like this blog but fictional and set partly in space.</p>

    <p class="pWithLinks">You can read a horror short story I wrote called <a class="link"
        href="https://www.ghostsociety.co.uk/short-story-invite-only-anthea-middleton/" target="_blank">Invite Only
        here.</a>. If you're really really keen, I had another short story called Manny published in the <a
        href="https://www.amazon.co.uk/That-Wrong-Anthology-Offbeat-Horror-ebook/dp/B09XVLGS2R/ref=sr_1_1?crid=1T2UEYFWG2ENP&keywords=that+is+so+wrong&qid=1695378199&sprefix=that+is+so+wrong%2Caps%2C79&sr=8-1"
        target="_blank">That Is So Wrong</a> horror anthology. But if you ask nicely I'd probably just send you the
      story and save you buying the book.
    </p>

    <p>That's me there. Proudly holding a ceramic bowl I painted. So far it has not won any competitions.</p>
  </div>
  <div class="col-md-4 profilePic">
    <img src="{% static '/img/Anthea.jpg' %}" />
  </div>
</div>


{% endblock %}