{% extends "base.html" %}
{% load static %}
{% load tag %}
{% block page_content %}



<div class="row">
                        <!-- <div class="postInfoDate">
                            {{ post.created_on.date }} |&nbsp;Categories:&nbsp;{% for category in post.categories.all %}
                                <a href="{% url 'blog_category' category.name %}">{{ category.name }}</a>&nbsp;
                            {% endfor %}
                        </div> -->

    <div class="col-md-12 gridContainer">
        {% for post in posts %}
            {% if post.image != "null" %}
            <!-- <div class="postWithImage gridItem" style="background-image: url({% static post.image %}) "> -->
            <div class=" gridItem">      
                <div class="imageAndTitle">
                    <img src="{% static post.image %}" style="width: 100%" class="postImage" />        
                    <!-- <div class="postInfoDate">
                        {{ post.created_on.date }}
                    </div> -->
                    <div class="postInfoOverlay">                    
                        <div class="postInfoTitle">
                            <a href="{% url 'blog_detail' post.pk%}">{{ post.title }}</a>
                        </div>
                        

                    </div>
                </div> 
                     <div class="postInfoDate">
                            {% getDateMonth post.created_on.date %} | |&nbsp;Categories:&nbsp;{% for category in post.categories.all %}
                                <a href="{% url 'blog_category' category.name %}">{{ category.name }}</a>&nbsp;
                            {% endfor %}
                       </div>
                 <div class="blurb">
                    {{ post.body | slice:":180" }}...
                </div> 
            </div>
            {% else %}
                <div class="gridItem" style="height: 250px">
                    <div class="textOnlyTitle">
                        <a href="{% url 'blog_detail' post.pk%}">{{ post.title }}</a>
                    </div>
                    <div class="postInfoDate">
                        {{ post.created_on.date }} |&nbsp;Categories:&nbsp;{% for category in post.categories.all %}
                            <a href="{% url 'blog_category' category.name %}">{{ category.name }}</a>&nbsp;
                        {% endfor %}
                   </div>
                   <div class="blurb">
                    {{ post.body | slice:":180" }}...
                    </div> 
                    <!-- <div class="postInfoDate">
                        {{ post.created_on.date }} |&nbsp;
                        Categories:&nbsp;
                        {% for category in post.categories.all %}
                            <a href="{% url 'blog_category' category.name %}">
                                {{ category.name }}
                            </a>&nbsp;
                        {% endfor %}
                    </div>            
                    <div>{{ post.body | slice:":400" | safe }}...</div> -->
                </div>
            {% endif %}        

        {% endfor %}
    </div>
</div>
{% endblock %}